extend layout
block content
    script(type='text/javascript').
     if('#{Items}')
          {
          alert('#{Items}');
          window.location.href="http://localhost:3000/";}
    script(type='text/javascript').
     if('!{content}')
      var array='!{content}';
      console.log(array[0]);
      console.log(typeof(array));
      var arrayconversion=JSON.parse(array);
      console.log(arrayconversion);
    -var array=JSON.parse(content);
     each val in array
      div.Products
       div.card
         img.card-img-top(src='/images/Uploads/'+val.ImageUrl,alt='card image',style='width:100%')
         div.card-body
              h4.class-title=val.model+val.brand
              p='DataofPurchase:'
              p= val.DateofPurchase.substring(0,val.DateofPurchase.indexOf('T'))
              p= 'Bill:'+val.Bill
              p="category:"+val.category
              form(method='post',action='/'+val._id)
                input(type='submit' value='Add To Your Cart').btn.btn-primary
              form(method='post',action='/Buy/'+val._id)
                input(type='submit',value='Buy Now').btn.btn-primary#BuyButton
           

